@font-face {
    font-family: "title-font";
    src: url(../font/MachinoTecho-Regular-free.otf) format("opentype");
    font-display: swap;
}
.font-family-1{
    font-size: 20px;
    font-family: "title-font";
}