{% extends "base.html" %}

{% block title %}ちいさなキロク / ホーム{% endblock %}

{% block contents %}
<ul>
  <a href="{% url 'kirokuapp:home' %}">ホーム</a>　<a href="{% url 'growthapp:growth' %}">成長記録</a>　<a href="{% url 'albumapp:album_list' %}">アルバム</a>　<a href="{% url 'kirokuapp:home' %}">写真管理</a>　<a href="{% url 'calendarapp:currender' %}">カレンダー</a>
</ul>


<div class="calendar-box">

  <!-- 右上の日付 + 矢印 -->
  <div class="calendar-date-header">
    <a href="?year={{ prev_month.year }}&month={{ prev_month.month }}">&#60;</a>
    <span>{{ selected_date|date:"Y/m/d" }}</span>
    <a href="?year={{ next_month.year }}&month={{ next_month.month }}">&#62;</a>
  </div>

  <!-- タイトル -->
  <div class="calendar-title"></div>

  <!-- 日付横スクロール -->
  <div class="calendar-date-scroll">
    {% for day in days %}
      <a href="?year={{ year }}&month={{ month }}&day={{ day.day }}"
         class="calendar-date {% if day == selected_date %}active{% endif %}">
        {{ day.day|stringformat:"02d" }}
      </a>
    {% endfor %}
  </div>

</div>

<div class="photo-grid">

  {% if records %}
    {% for record in records %}
      <div class="photo-card">

        {% if record.image %}
        <img src="{{ record.image.url }}" alt="">
        {% else %}
        <p>画像なし</p>
        {% endif %}
      
        <div class="photo-comment">
          <a href="{% url 'calendarapp:edit_comment' record.id %}">
            {{ record.comment|default:"コメントを追加" }}
          </a>
        </div>

      </div>
    {% endfor %}

  {% else %}
    <!-- 記録が無い日のUI -->
    <div class="photo-card empty">

      <div class="photo-image empty-image">
        
      </div>

      <div class="photo-comment empty-text">
        この日の記録はありません
      </div>
      <a href="{% url 'calendarapp:add_record' %}?year={{ selected_date.year }}&month={{ selected_date.month }}&day={{ selected_date.day }}"
       class="add-record-button">
       ＋ 記録を追加
      </a>
    </div>
  {% endif %}

</div>

{% endblock %}