{% extends "base.html" %}

{% block title %}ちいさなキロク / ホーム{% endblock %}

{% block contents %}
<ul>
  <a href="{% url 'kirokuapp:home' %}">ホーム</a>　<a href="{% url 'growthapp:growth' %}">成長記録</a>　<a href="{% url 'albumapp:album_list' %}">アルバム</a>　<a href="{% url 'kirokuapp:home' %}">写真管理</a>　<a href="{% url 'calendarapp:currender' %}">カレンダー</a>
</ul>

{% load static %}
<link rel="stylesheet" href="{% static 'calendarapp/calendar.css' %}">

<div class="calendar-box">
  <h2>コメント編集</h2>

  {% if record.image %}
    <img src="{{ record.image.url }}" class="edit-image" alt="添付画像">
  {% else %}
    <p class="no-image">画像は未登録です</p>
  {% endif %}

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="save-btn">保存</button>
  </form>
</div>
{% endblock %}